body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
.bold { 
    font-weight: bolder;
}
.row {
    margin-bottom:10px;
}
button {
    
    padding: 0.5em 0.5em;
    display:absolute;
}

td {
    vertical-align: top;
    border: solid 1px #CCC;
    padding: 10px 10px 10px 10px;
}

input {
    float: right;
    margin-left: 5px;
}

.centered {
    text-align: center;
}

#log {   
    vertical-align: top;
}

.header {
    font-weight: bold;
    text-align: center;
}